img {
  width: 40%;
  height: 40%;
  align-items: center;
  border-radius: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

body{
  background-color: rgb(29, 29, 29);
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.list-group {
  width: 100%;
}

.list-group-item {
  display: flex;
  justify-content: center;
}

.list-group-item a {
  text-decoration: none;
  color: inherit;
}



h1 {
  font-family: "Quintessential";
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

p {
  font-family: "Quintessential";
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h6 {
  font-family: "Quintessential";
  font-weight: 200;
  font-style: normal;
  font-size: 17px;
}