body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#root {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: rgb(20, 20, 20);
  border-top: 1px solid rgb(60, 60, 60);
}